<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.adi.collectapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bukaMall.BukaMallActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalculatorActivity"
            android:label="@string/calculator" />
        <activity
            android:name=".BmiActivity"
            android:label="@string/bmi" />
        <activity
            android:name=".TemperatureConversion"
            android:label="@string/temperature" />
        <activity
            android:name=".CalculateAge"
            android:label="@string/age" />
        <activity
            android:name=".TicTacTok"
            android:label="@string/TicTacToe" />
        <activity
            android:name=".Currency"
            android:label="@string/title_activity_currency"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HangmanAcivity"
            android:label="@string/hangman" />
        <activity
            android:name=".AddTodo"
            android:label="@string/todo" />
        <activity
            android:name=".NumericActivity"
            android:label="@string/numeric" />
        <activity
            android:name=".CashierActivity"
            android:label="@string/cashier" />
        <activity
            android:name=".WtfActivity"
            android:label="@string/wtf" />
        <activity android:name=".ScrabbleActivity" />
        <activity android:name=".ScrabbleDetail" />
        <activity android:name=".SnakeLedder" />
        <activity android:name=".Snake" />
        <activity android:name=".AddSnake" />
        <activity android:name=".Battleship" />
        <activity android:name=".AddShip" />
        <activity android:name=".TodoMvc" />
        <activity android:name=".WeatherApp" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".AntreActivity" />
        <activity android:name=".MinesweeperActivity" />
        <activity android:name=".MultiCalculator" />
        <activity android:name=".MultiCalendarActivity" />
        <activity android:name=".MeetupActivity" />
        <activity android:name=".FsaActivity" />
        <activity android:name=".PlatNomorActivity" />
        <activity android:name=".ListProductActivity" />
        <activity android:name=".DetailProductActivity" />
        <activity android:name=".bukaMall.DetailListProductAct" />
        <activity android:name=".bukaMall.DetailProductAct" />
        <activity android:name=".ASCIIActivity" />
        <!-- <activity android:name=".HistogramActivity"></activity> -->
        <!-- <activity android:name=".GraphActivity"></activity> -->
        <!-- <activity android:name=".traversal.TraversalActivity" /> -->
        <!-- <activity android:name=".RubikActivity"></activity> -->
        <!-- <activity android:name=".sorting.SortingActivity"></activity> -->
        <!--<activity android:name=".categories.CategoriesActivity"></activity>-->
    </application>

</manifest>