<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.adi.collectapps">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cardCompare.CardActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".singleapp.CalculatorActivity"
            android:label="@string/calculator" />
        <activity
            android:name=".singleapp.BmiActivity"
            android:label="@string/bmi" />
        <activity
            android:name=".TemperatureConversion"
            android:label="@string/temperature" />
        <activity
            android:name=".singleapp.CalculateAge"
            android:label="@string/age" />
        <activity
            android:name=".TicTacTok"
            android:label="@string/TicTacToe" />
        <activity
            android:name=".singleapp.Currency"
            android:label="@string/title_activity_currency"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HangmanAcivity"
            android:label="@string/hangman" />
        <activity
            android:name=".AddTodo"
            android:label="@string/todo" />
        <activity
            android:name=".singleapp.NumericActivity"
            android:label="@string/numeric" />
        <activity
            android:name=".singleapp.CashierActivity"
            android:label="@string/cashier" />
        <activity
            android:name=".singleapp.WtfActivity"
            android:label="@string/wtf" />
        <activity android:name=".ScrabbleActivity" />
        <activity android:name=".ScrabbleDetail" />
        <activity android:name=".SnakeLedder" />
        <activity android:name=".Snake" />
        <activity android:name=".snakeladder.AddSnake" />
        <activity android:name=".battleship.Battleship" />
        <activity android:name=".battleship.AddShip" />
        <activity android:name=".TodoMvc" />
        <activity android:name=".weather.WeatherApp" />
        <activity android:name=".singleapp.CalendarActivity" />
        <activity android:name=".singleapp.AntreActivity" />
        <activity android:name=".MinesweeperActivity" />
        <activity android:name=".singleapp.MultiCalculator" />
        <activity android:name=".MultiCalendarActivity" />
        <activity android:name=".MeetupActivity" />
        <activity android:name=".FsaActivity" />
        <activity android:name=".singleapp.PlatNomorActivity" />
        <activity android:name=".productlist.ListProductActivity" />
        <activity android:name=".productlist.DetailProductActivity" />
        <activity android:name=".bukaMall.DetailListProductAct" />
        <activity android:name=".bukaMall.DetailProductAct" />
        <activity android:name=".singleapp.ASCIIActivity" />

        <!-- <meta-data -->
        <!-- android:name="preloaded_fonts" -->
        <!-- android:resource="@array/preloaded_fonts" /> -->
        <!-- <activity android:name=".flipCoin.CoinFlipActivity"></activity> -->
        <!--<activity android:name=".TagsActivity" />-->
        <!--<activity android:name=".cardCompare.CardActivity"></activity>-->
    </application>

</manifest>